body {
   font-family: Roboto;
}

.center-content {
   display: flex;
   justify-content: center;
}

.header {
   position: relative;
   display: flex;
   justify-content: center;
}

.header__logo_white {
   display: none;
}

.header__menu-burger {
   position: absolute;
   top: -5px;
   right: 28px
}

.header__menu-burger_img {
   width: 30px;
   height: 16px;
}

#toggle {
   display: none;
}

#toggle:checked~nav {
   left: 0;
   transition: left 0.5s;
}

.header__nav {
   background-color: #2F3132;
   width: 100%;
   position: absolute;
   top: 0;
   left: -100vw;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   padding-top: 25px;
   margin-top: -25px;
}

.header__nav-logo {
   margin-bottom: 147px;
}

.header__nav_logo_white {
   width: 130px;
   height: 40px;
}

.header__menu-close {
   position: absolute;
   top: 14px;
   right: 15px;
}

.header__nav-item {
   font-weight: 900;
   font-size: 20px;
   line-height: 23px;
   text-transform: uppercase;
   text-align: center;
   color: #C4C4C4;
   text-decoration: none;
   margin: 0 28px 26px 26px;
   padding-bottom: 5px;
}

.header__nav-item:hover {
   color: #FFFFFF;
   border-bottom: 2px solid #FFFFFF;
}

.heading {
   font-style: normal;
   font-weight: 900;
   font-size: 20px;
   line-height: 23px;
   text-align: center;
   color: #2F3132;
   margin-bottom: 20px;
}

.text {
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 16px;
   text-align: center;
   color: #2F3132;
   margin-bottom: 0;
}

.text_margin {
   margin-left: 34px;
   margin-right: 33px;
}

.text_settings {
   color: #FFFFFF;
}

.top__text-margin {
   margin-left: 59px;
   margin-right: 59px;
   padding-top: 8px;
}

.top {
   background: #E0E1E2;
   padding-top: 25px;
   padding-bottom: 46px;
}

.header__nav-desktop {
   display: none;
}

.top__img {
   margin-top: 94px;
   height: 230px;
   background-image: url(img/MX-Master.png);
   background-repeat: no-repeat;
   background-size: contain;
   margin-bottom: 60px;
   background-position: center;
}

.top__arrow {
   margin-top: 36px;
}

.top__svg {
   width: 40px;
   height: 20px;
}

.bluetooth {
   background-color: #EDEDED;
   padding-top: 42px;
   padding-bottom: 18px;
}

.bluetooth__icon {
   margin-bottom: 27px;
}

.bluetooth__heading {
   font-style: normal;
   font-weight: 900;
   font-size: 60px;
   line-height: 70px;
   text-align: center;
   text-transform: uppercase;
   color: #C4C4C4;
   margin-top: 31px;
   margin-bottom: 0;
}

.bluetooth__img_mouse-1 {
   display: none;
}

.bluetooth__img {
   height: 288px;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-bottom: 31px;
}

.bluetooth__img_mouse {
   flex-grow: 1;
}

.info {
   padding-top: 70px;
   padding-bottom: 63px;
   background: #FFFFFF;
}

.info__content {
   padding-top: 30px;
   padding-bottom: 28px;
   display: flex;
   justify-content: center;
}

.info__item {
   margin-left: 3px;
   margin-right: 3px;
   flex-basis: 166px;
   min-height: 94px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   border: 1px solid #2F3132;
}

.info__heading {
   font-family: Roboto;
   font-style: normal;
   font-weight: 900;
   font-size: 14px;
   line-height: 16px;
   text-align: center;
   color: #2F3132;
   margin-bottom: 70px;
}

.info__item-heading {
   margin-bottom: 6px;
   text-transform: uppercase;
}

.carousel {
   margin-bottom: 28px;
}

.carousel-inner .img-desktop {
   display: none !important;
}

/* Для дальнейшей стилизации */

.carousel-control-next-icon {
   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 20' fill='%23000'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.carousel-control-prev-icon {
   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 20' fill='%23000'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

.carousel-control-next {
   right: -14%;
}

.carousel-control-prev {
   left: -14%;
}

.info .carousel-indicators [data-bs-target] {
   height: 30px;
   border-radius: 50%;
}

.info .carousel-indicators [aria-label="Slide 1"] {
   background-image: url("img/wood.png");
}

.info .carousel-indicators [aria-label="Slide 2"] {
   background-image: url("img/glass.png");
}

.info .carousel-indicators [aria-label="Slide 3"] {
   background-image: url("img/linoleum.png");
}

.info .carousel-indicators [aria-label="Slide 4"] {
   background-image: url("img/marble.png");
}

.info .carousel-indicators [aria-label="Slide 5"] {
   background-image: url("img/cloth.png");
}

.carousel-indicators {
   bottom: -120px;
   justify-content: space-around;
}

.info__text {
   margin-left: 67px;
   margin-right: 61px;
}

.info__text_margin {
   margin-left: 31px;
   margin-right: 36px;
   padding-left: 5px;
}

.flow {
   padding-top: 70px;
   background-color: #EDEDED;
}

.flow__ol {
   margin-top: 36px;

   padding-left: 54px;
   list-style-position: inside;
}

.flow__text {
   margin-bottom: 16px;
   text-align: left;
   width: 220px;
   padding-bottom: 4px;
}

.flow__p {
   margin-bottom: 15px;
}

.flow__img-desktop {
   display: none;
}

.flow__img-mob {
   width: 100%;
}

.settings {
   padding-top: 70px;
   background-color: #EDEDED;
}

.settings__slide {
   margin: 35px 22px 95px 23px;
}

.settings .carousel-indicators [data-bs-target] {
   height: 15px;
   width: 15px;
   border-radius: 50%;
   background-color: #2F3132;
}

.settings .carousel-indicators {
   top: 415px;
   margin-right: 23%;
   margin-left: 23%;
}

.settings .w-100 {
   height: 405px;
   width: auto !important;
   margin: 0 auto;
}

.settings__content {
   background-color: #C4C4C4;
   padding-top: 23px;
   padding-bottom: 25px;
}

.settings__icon {
   display: flex;
   justify-content: space-between;
   margin-left: 29px;
   margin-right: 22px;
   margin-bottom: 20px;
}

.mouse {
   background-color: #fff;
}

.mouse__text {
   padding-top: 70px;
   padding-bottom: 20px;
}

.mouse__img {
   height: 310px;
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
}

.mouse__img_1 {
   background-image: url(img/image\ 1.png);
}

.mouse__img_2 {
   background-image: url(img/image\ 2.png);
}

.footer {
   background-color: #2F3132;
   padding-top: 22px;
   padding-bottom: 37px;
   font-style: normal;
   font-weight: normal;
   font-size: 7px;
   line-height: 8px;
   text-align: center;
   color: #C7C8C8;
}

@media (min-width: 768px) {
   .top {
      padding-top: 54px;
      padding-bottom: 80px;
   }

   .bg-light {
      background-color: #E0E1E2 !important;
   }

   .navbar {
      justify-content: center;
      padding-top: 0;
   }

   .navbar-brand {
      padding-top: 0;
   }

   .header__logo_dark {
      width: 240px;
      margin-left: 15px;
   }

   .header__nav_logo_white {
      width: 240px;
      height: 71px;
   }

   .header__menu-burger {
      top: -4px;
      right: 25px
   }

   .header__menu-burger_img {
      width: 125px;
      height: 40px;
   }

   .header__nav {
      height: 1165px;
      top: -29px;
      padding-top: 64px;
   }

   .header__nav-logo {
      margin-bottom: 123px;
   }

   .header__menu-close {
      top: 45px;
      right: 64px;
   }

   .header__menu-close-img {
      width: 87px;
      height: 87px;
   }

   .header__nav-item {
      font-size: 40px;
      line-height: 47px;
      margin-bottom: 52px;
      padding-bottom: 6px;
   }

   .header__nav-item:hover,
   .header__nav-item:active {
      border-bottom: 4px solid #FFFFFF;
   }

   .top__img {
      margin-top: 160px;
      height: 514px;
      margin-bottom: 124px;
      background-size: cover;
   }

   .heading {
      font-size: 40px;
      line-height: 47px;
      margin-bottom: 30px;
   }

   .text {
      font-size: 24px;
      line-height: 28px;
   }

   .text_margin {
      margin-left: 77px;
      margin-right: 77px;
   }

   .top__text-margin {
      margin-left: 154px;
      margin-right: 155px;
      padding-top: 0;
   }

   .top__arrow {
      margin-top: 76px;
   }

   .top__svg {
      width: 57px;
      height: 29px;
   }

   .bluetooth {
      padding-top: 80px;
      padding-bottom: 46px;
   }

   .bluetooth__icon {
      margin-bottom: 43px;
   }

   .bluetooth__heading {
      font-size: 150px;
      line-height: 176px;
      margin-top: 76px;
      padding-right: 22px;
      margin-bottom: -66px;
   }

   .bluetooth__img {
      height: 593px;
      margin-left: 39px;
      margin-right: 19px;
   }

   .bluetooth__img_mouse {
      width: 850px;
   }

   .info {
      padding-bottom: 61px;
   }

   .info__content {
      padding-top: 50px;
      padding-bottom: 50px;
   }

   .info__item {
      margin-left: 15px;
      margin-right: 15px;
      flex-basis: 300px;
      min-height: 170px;
   }

   .info__heading {
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 85px;
   }

   .info__item-heading {
      margin-bottom: 0px;
   }

   .carousel {
      margin-bottom: 48px;
   }

   .info__text {
      margin-left: 90px;
      margin-right: 90px;
   }

   .info__text_margin {
      margin-left: 77px;
      margin-right: 77px;
      padding: 0px;
   }


   .carousel-control-next,
   .carousel-control-prev {
      bottom: 166px;
   }

   .carousel-control-next {
      right: 180px;
   }

   .carousel-control-prev {
      left: 180px;
   }

   .info .carousel-indicators [data-bs-target] {
      height: 42px;
      width: 42px;
      border-radius: 50%;
   }

   .carousel-indicators {
      bottom: -166px;
      left: 138px;
      right: 138px;
   }

   .flow__heading_tablet {
      margin-left: 129px;
      margin-right: 129px;
   }

   .flow__ol {
      margin-top: 70px;
      margin-bottom: 5px;
      display: flex;
      justify-content: flex-start;
      padding-left: 67px;
      padding-right: 68px;
   }

   .flow__text {
      flex-grow: 4;
      font-size: 20px;
      line-height: 23px;
      padding-left: 25px;
      padding-right: 20px;
      border-left: 1px solid #494949;
   }

   .flow__text:first-child {
      padding-left: 0;
      padding-right: 5px;
      border-left: none;
      flex-grow: 3;
   }

   .flow__text:last-child {
      padding-left: 22px;
      padding-right: 0px;
      width: 135px;
      flex-grow: 1;
   }

   .flow__p {
      margin-left: 77px;
      margin-right: 77px;
      margin-bottom: 25px;
   }

   .carousel-control-next {
      right: -45px;
   }

   .carousel-control-prev {
      left: -45px;
   }

   .settings {
      padding-left: 64px;
      padding-right: 65px;
      padding-bottom: 70px;

   }

   .settings__heading {
      margin-left: 64px;
      margin-right: 65px;
   }

   .carousel.pointer-event {
      height: 579px;
   }

   .settings__slide {
      margin: 54px auto 177px auto;
   }

   .settings .carousel-indicators [data-bs-target] {
      height: 25px;
      width: 25px;
   }

   .settings .carousel-indicators {
      top: 651px;
      margin-right: auto;
      margin-left: auto;
      width: 300px;
   }

   .settings .w-100 {
      height: 610px;
   }

   .settings__content {
      padding-top: 38px;
      padding-bottom: 31px;
   }

   .settings__icon {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 25px;
      height: 36px;
      width: 515px;
   }

   .settings__text_margin {
      margin-left: 13px;
      margin-right: 12px;
   }

   .text_settings {
      font-size: 20px;
      line-height: 22px;
      margin-left: 70px;
      margin-right: 71px;
   }

   .mouse__img {
      height: 549px;
   }

   .mouse__text {
      padding-bottom: 50px;
   }

   .mouse__img_1 {
      background-image: url(img/Mouse_tablete_img_1.png);
   }

   .mouse__img_2 {
      background-image: url(img/Mouse_tablete_img_2.png);
   }


   .footer {
      padding-top: 47px;
      padding-bottom: 71px;
      font-size: 14px;
      line-height: 16px;
   }
}

@media (min-width: 1024px) {
   .center {
      padding-left: calc(50% - 580px);
      padding-right: calc(50% - 580px);
   }

   .info-center {
      padding-left: calc(50% - 640px);
      padding-right: calc(50% - 640px);
   }

   .text {
      font-size: 20px;
      line-height: 23px;
   }

   .bluetoth__text-padding {
      padding-left: 122px;
      padding-right: 122px;
   }

   .top {
      padding-top: 0;
      padding-bottom: 56px;
   }

   .header {
      height: 100px;
      background-color: #2F3132;
      justify-content: space-between;
      align-items: center;
   }

   .header__logo_dark {
      display: none;
   }

   .header__logo_white {
      display: block;
      width: 150px;
      height: 45px;
      margin-right: 147px;
      margin-left: 0;
   }

   .header__menu-burger {
      display: none;
   }

   .header__nav-desktop {
      display: flex;
      align-items: center;
      width: 100%;
   }

   .header__nav-item {
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      margin: 0;
      padding: 6px 0;
   }

   .header__nav-item:hover,
   .header__nav-item:active {
      border-bottom: 1px solid #FFFFFF;
   }

   .header__nav_ul {
      display: flex;
      margin: 0;
      padding: 0;
      list-style: none;
      flex-grow: 1;
   }

   .header__nav_li {
      border-right: 1px solid #494949;
      padding: 0 21px;
      margin: 0;
      flex-grow: 1;
   }

   .header__nav_li:first-child,
   .header__nav-item:first-child {
      padding-left: 0;
   }

   .header__nav_li:last-child,
   .header__nav-item:last-child {
      padding-right: 0;
      border-right: none;
   }

   .top__img {
      margin-top: -10px;
      padding-top: 80px;
      height: 671px;
      background-image: url(img/MX-Master_top_desctop.png);
      background-size: contain;
      margin-bottom: 8px;
   }

   .heading {
      font-size: 36px;
      line-height: 42px;
      margin-bottom: 35px;
   }

   .top__arrow {
      margin-top: 49px;
   }

   .bluetooth {
      padding-top: 48px;
      padding-bottom: 48px;
   }

   .bluetooth__img {
      height: 426px;
      margin-bottom: 13px;
      position: relative;
   }

   .bluetooth__heading {
      font-size: 96px;
      line-height: 113px;
      padding-right: 0;
      padding-left: 0;
      display: flex;
      margin-top: 57px;
      margin-left: 10px;
      margin-left: 60px;
   }

   .bluetooth_70 {
      font-size: 300px;
      line-height: 352px;
      margin-top: -46px;
   }

   .bluetooth_day {
      margin-left: -5px;
   }

   .bluetooth__img_mouse-1 {
      display: block;
      position: absolute;
      top: 133px;
      left: -83px;
   }

   .bluetooth__img_mouse {
      width: 645px;
      height: 373px;
      position: absolute;
      right: -48px;
      top: 100px;
   }

   .info__text {
      padding-left: 225px;
      padding-right: 225px;
   }

   .info__item {
      flex-basis: 236px;
      min-height: 140px;
   }

   .info__item-heading {
      margin-bottom: 0;
   }

   .carousel {
      margin-bottom: 39px;
   }

   .w-100 {
      height: 573px;
   }

   .carousel-inner .img-mob {
      display: none !important;
   }

   .carousel-inner .img-desktop {
      display: block !important;
   }

   .carousel.pointer-event {
      height: 573px;
   }

   .info__heading {
      font-size: 20px;
      line-height: 23px;
      margin-bottom: 90px;
   }

   .info__text_margin {     
      margin: 0 77px 9px;
      padding: 0 180px;
   }

   .info {
      padding-top: 70px;
   }

   .carousel-indicators {
      bottom: -144px;
      left: 273px;
      right: 273px;
   }

   .flow__p {
      margin-left: 170px;
      margin-right: 169px;     
  }

  .flow__ol {  
   margin-bottom: 0; 
   padding-left: 169px;
   padding-right: 178px;
}

.flow__text {
   margin-bottom: 0;  
   width: 315px;
   padding-bottom: 0;
   flex-grow: 3;
   padding-left: 71px;
   padding-right: 35px;
}

.flow__text:first-child {  
   flex-grow: 0;
   margin-right: 12px;
}

.flow__text:last-child {
   padding-left: 58px;  
   width: 125px;
   flex-grow: 2;
}

.flow__img-mob {
   display: none;
}

.flow__img-desktop { 
   display: block; 
   height: 578px;
   margin-top: 83px;
}

}

@media (min-width: 1440px) {

   .top {
      padding-bottom: 80px;
   }

   .top__img {
      margin-top: 20px;
      padding-top: 80px;
      height: 671px;
      background-image: url(img/MX-Master_top_desctop.png);
      background-size: contain;
      margin-bottom: 8px;
   }

   .nav-item {
      margin-right: 27px;
      border-right: 1px solid #494949;
   }

   .nav-item:last-child {
      margin-right: 0;
      border-right: none;
   }

   .navbar-light .navbar-nav .nav-link {
      color: #FFFFFF;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      text-align: center;
   }

   .navbar-light .navbar-nav .nav-link.active,
   .navbar-light .navbar-nav .show>.nav-link {
      color: #FFFFFF;
      border-bottom: 1px solid #FFFFFF;
   }

   .navbar-light .navbar-nav .nav-link:focus,
   .navbar-light .navbar-nav .nav-link:hover {
      color: #FFFFFF;
      border-bottom: 1px solid #FFFFFF;
   }

   .top__img {
      margin-top: 20px;
      height: 671px;
      background-image: url(img/MX-Master_top_desctop.png);
      background-size: contain;
      margin-bottom: 8px;
      padding-top: 80px;
   }

   .heading {
      font-size: 36px;
      line-height: 42px;
   }

   .top__arrow {
      margin-top: 49px;
   }

   .bluetooth {
      padding-top: 78px;
      padding-bottom: 70px;
   }

   .info {
      padding-top: 100px;
   }

   .info__text_margin {     
      margin-bottom: 41px;
      
   }

   .flow {
      padding-top: 99px;
   }

   .flow__p {
      margin-left: 498px;
      margin-right: 497px;     
  }


  .flow__img-desktop {
   height: 866px;
   margin-top: 10px;
}

}